.main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
}
.head {
	display: flex;
	justify-content: space-between;
	width: 70%;
	height: 80px;

}
.head .newMeet{ 
	font-size: 13px;
	float: right;
	color: #000000;
	letter-spacing: 0;
}
.close {
	text-align: center;
	margin-top: 20px;
	background: #E9ECEF;
	border-radius: 100px;
	width: 24px;
	height: 24px;
}
.close img {
	padding-top: 6px;
}
form{
	display: flex;
	max-width: 1012px;
}

form > div {
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 20px; 

}

.block {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 420px;
}

.block .left {
	display: flex;
}

.meets {
	width: 420px;
	height: 58px;
	text-align: left;
	line-height: 0.5px;
	padding-bottom: 24px;
}

.meets h2 {
	font-size: 13px;
	color: #000000;
	letter-spacing: 0;
}

.meets input {
	border: 2px solid #E9ECEF;
	border-radius: 4px;
	height: 28px;
	width: 410px;
}

.topic {
	padding-left: 5px;
}

.meets input:hover {
	border: 2px solid #007DFF;
	border-radius: 4px;
}

.topicConversation .topic{
	font-size: 13px;
	color: #858E98;
	letter-spacing: 0.47px;
}

.participants .styled-select {
	background: #FFFFFF;
	border: 2px solid #E9ECEF;
	border-radius: 4px;
	width: 420px;
	height: 35px;
	-moz-appearance: none;
  	-webkit-appearance: none;
  	appearance: none;
}
.participants .styled-select:hover {
	border-color: #007DFF;
}

.styled-select option {
	background: #FFFFFF;
	box-shadow: 0 1px 10px 0 rgba(0,44,92,0.28);
	border-radius: 4px;
}

.selected-participants {
	display: flex;
	flex-wrap: wrap;
	width: 420px;
	margin-top: -10px;
} 

.selected-participants div{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	margin-right: 20px;
	border-radius: 16px;
	height: 24px;
	background-color: #E9ECEF;
}

.selected-participants img{
	width: 24px;
	height: 24px;
	border-radius: 16px;
}

.selected-participants h3 {
	font-size: 12px;
	padding-top: 4px;
	padding-left: 5px;
	margin: 0px;
}


.selected-participants .close-participants {
	margin: 6px;
	width: 11px;
	height: 11px;
}

.reservationDate {
	display: flex;
	justify-content: flex-start;
	width: 420px;
	font-size: 13px;
	color: #000000;
	letter-spacing: 0.47px;
}

.reservationDate .one{
	width: 238px;
	padding-right: 16px;
}

.reservationDate .two {
	width: 72px;
	padding-right: 15px;
}

.reservationDate .three {
	width: 72px;
}

.one .date{
	width: 238px;
}

.two .start {
	width: 72px;
}

.three .end {
	width: 72px;
}

.recommended-conversation  h2{
	font-size: 13px;
	margin: 0px;
	padding-bottom: 5px;
}

.recommended-conversation div{
	border: 2px solid #E9ECEF;
	border-radius: 4px;
	margin-bottom: 8px;
	font-size: 13px;
	background-color: #E9ECEF;
	height: 28px;
	width: 415x;
}

.recommended-conversation p {
	margin: 5px;
}

.footer {
	display: flex;
	justify-content: center;
	border-top: 1px solid #E9ECEF;
    max-width: 100%;
    height: 76px;
    padding-top: 20px;
    margin-right: auto;
	margin-left: auto;
}

.footer div {
	padding-right: 10px;
}

.cancel {
  width: 80px;
  color: #000000;
  letter-spacing: 0;
  background: rgba(0,16,33,0.05);
}
.cancel:hover {
	background: #E9ECEF;
}

.create {
  width: 140pt;
  height: 36pt;
  background-color: #007DFF;
  color: #FFFFFF;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

	.head {
		height: 50px;
		width: 360px;
		padding-left: 16px;
	}
	.main {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 360px;
		margin-right: auto;
		margin-left: auto;
	}
	form{
		display: flex;
		flex-wrap: wrap;
		max-width: 360px;
	}
	.block {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 328px;
		margin: 0px 16px;
	}
	.left {
		height: 210px;
	}
	.right {
		height: 260px;
	}
	.close {
		display: none;
	}
	.topicConversation .topic {
		width: 320px;
	}

	.participants .styled-select {
		width: 326px;
	}
	.meets {
		width: 328px;
		padding-bottom: 16px;
	}
	.reservationDate {
		flex-wrap: wrap;
		height: 100px;
	}
	.reservationDate .one .date {
		width: 320px;
	}
	.reservationDate .two{
		width: 153px;
	}
	.reservationDate .three{
		width: 153px;
	}

	.reservationDate .two input{
		width: 153px;
	}
	.reservationDate .three input{
		width: 153px;
	}
	.cancel {
		display: none;
	}
}